div.itemCaption {
	font-size: 1rem;
	text-align: center;
}

.wraptocenter {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: %SSG_GALLERY_THUMBNAIL_WIDTH%px;
	height: %SSG_GALLERY_THUMBNAIL_HEIGHT%px;
}
.wraptocenter * {
  vertical-align: middle;
}

div.header {
	font-size: 2rem;
}

.viewer {
	max-width: 100%;
	max-height: 100%;
}

.nav_link {
  width:100%;
  height:100%;
  display:inline-block;
}

.nav_next {
	width: 100%;
	height: 100%;
  display:inline-block;
}

.nav_prev {
	width: 100%;
	height: 100%;
  display:inline-block;
}

.nav_next_img {
  background-image: url('icon/img_next.png');
  width: 80px;
  height: 80px;
}

.nav_prev_img {
  background-image: url('icon/img_prev.png');
  width: 80px;
  height: 80px;
}

.nav_next:hover .nav_next_img {
  background-image: url('icon/img_next_hover.png');
}

.nav_prev:hover .nav_prev_img {
  background-image: url('icon/img_prev_hover.png');
}